server:
  port: 8085

spring:
  application:
    name: loyalty-service
  
  datasource:
    url: jdbc:h2:mem:loyaltydb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password: 
    driver-class-name: org.h2.Driver
  
  h2:
    console:
      enabled: true
      path: /h2-console
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.H2Dialect
  
  rabbitmq:
    host: localhost
    port: 5672
    username: destore
    password: destore123

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

logging:
  level:
    napier.destore: DEBUG

loyalty:
  points-per-pound: 10
  bronze-threshold: 0
  silver-threshold: 1000
  gold-threshold: 5000
  platinum-threshold: 10000